
.head-bar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(22,56,112);        

    min-width: 100%;
    display: flex;    
    justify-content: space-between;
}

.head-brand{
    display: flex;
    align-items: center;    
}

.head-logo{
    margin: 5px 15px;
    height: 75px;
    width: 75px;    
}

.head-title{
    color: rgb(255,255,255);
}

.nav-menu{
    display: flex;
    align-items: center;    
}

.nav-item{
    list-style-type: none;            
    margin: 0px 15px;
}

.nav-link{
    list-style-type: none;            
    cursor: pointer;
    text-decoration: none;
    color: rgb(254, 255, 170);    
}

.nav-link:hover{
    color: rgb(237, 241, 0);
    text-decoration: underline;
}

.nav-link-curr{          
    color: rgb(255, 255, 255);    
    text-decoration: none;
    pointer-events: none;
}